/* **********************************************
 * General form styling
 * ********************************************** */ 
.centered {
    text-align: center;
}
.contribute-options {
    margin-bottom: 20px;
}
.flex-col {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

// Modal styling -------------------------------------
.alert-icon-success {
    color: #5cb85c;
}
.alert-icon-warning {
    color: #f0ad4e;
}
.alert-icon-error {
    color: #d9534f;
}
.user-feedback {
    vertical-align: middle;
}
.admin-feedback-input {
    margin-bottom: 10px;
}
// ---------------------------------------------------

// Edit framework search table ---------------------
#processedContributionTable_filter label,
#searchUserFrameworksTable_filter label,
#searchFrameworksTable_filter label {
    display: block;
    margin: 0px;
}

#searchUserFrameworksTable_wrapper.dataTables_wrapper table thead,
#searchFrameworksTable_wrapper.dataTables_wrapper table thead {
    display:none;
}
.dataTables_wrapper .dataTables_paginate {
    display:none;
}
.dataTables_wrapper table {
    width: 100%;
}
.dataTables_wrapper {
    border-radius: 6px;
}
table.dataTable.no-footer {
    border: none;
}
#processedContributionTable_wrapper tr,
#searchUserFrameworksTable_wrapper tr,
#searchFrameworksTable_wrapper tr {
    cursor: pointer;
}
#processedContributionTable_wrapper .dataTables_empty,
#searchUserFrameworksTable_wrapper .dataTables_empty,
#searchFrameworksTable_wrapper .dataTables_empty {
    background-color: #555;
    color: #fff;
    cursor: not-allowed;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
}
input.edit-search {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15;
}
.edit-search-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    pointer-events: none;
}
.dataTables_scroll {
    border: 1px solid #e6e6e6;
}
#processedContributionTable,
#searchUserFrameworksTable,
#searchFrameworksTable {
    border: 1px solid #e6e6e6;
    border-top: none;
}
#processedContributionTable_wrapper,
#searchUserFrameworksTable_wrapper,
#searchFrameworksTable_wrapper {
    margin-bottom: 20px;
}
// ---------------------------------------------------

// Edit framework search table item ------------------
#processedContributionTable .thumb-framework,
#searchUserFrameworksTable .thumb-framework,
#searchFrameworksTable .thumb-framework {
    height: 40px;
    width: 40px;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    display: block;
    padding: 2px;
    margin-right: 10px;
    float: left;
}

#processedContributionTable .thumb-framework img,
#searchUserFrameworksTable .thumb-framework img,
#searchFrameworksTable .thumb-framework img {
    height: 34px;
    max-width: 34px;
}

#processedContributionTable .thumb-title,
#searchUserFrameworksTable .thumb-title,
#searchFrameworksTable .thumb-title {
    display: block;
    font-size: 16px;
    font-weight: 800;
}

#processedContributionTable .thumb-state.approved,
#searchUserFrameworksTable .thumb-state.approved,
#searchFrameworksTable .thumb-state.approved {
    color: #9BB831;
}

#searchUserFrameworksTable .thumb-remove,
#searchUserFrameworksTable .thumb-add,
#searchFrameworksTable .thumb-add {
    top: 14px;
    right: 8px;
    margin-left: 8px;
    color: #337ab7;
}
#searchUserFrameworksTable .thumb-remove {
    color: #d9534f;
}
#processedContributionTable .thumb-time,
#searchFrameworksTable .thumb-contributor,
#searchUserFrameworksTable .thumb-time {
    color: gray;
}

.thumb-processed {
    &.Outdated {
        color: gray;
    }
    &.Approved {
        color: #9BB831;
    }
    &.Declined {
        color: #d9534f;
    }
    &.readonly {
        color: lightgray;
    }
    a {
        text-decoration: none;
        width: 40px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }
}
// ---------------------------------------------------

// Edit header ---------------------------------------
#editHeaderWrapper {
    margin-bottom: 20px;
}
h3.edit-header {
    display: inline-block !important;
}
.edit-button {
    margin-left: 10px;
    margin-top: 15px;
}
// ---------------------------------------------------

// Progressbas / navbar ------------------------------
.progress-bar {
    cursor: pointer;
}
.add-progress {
    height: 52px;
}
.add-progress .progress-bar {
    line-height: 52px;
}
.add-progress .bordered {
    border-right: 1px solid white;
}
.active-step {
    background-color: #f0ad4e;
}
.valid-step {
    background-color: #5cb85c;
}
.faulty-step {
    background-color: #d9534f;
}
// ---------------------------------------------------

.container-step1,
.container-step2,
.container-step3,
.container-step4,
.container-step5 {
    min-height: 915px;
}

/* **********************************************
 * Form step 1 styling
 * ********************************************** */ 

// styling of checkboxes ------------------------
label.checkbox-label {
    display: block;
    cursor: pointer;
    padding-left: 5px;
    line-height: 18px;
    font-size: small;
}
input[type=checkbox] {
    display:none;
}
/* Using 2 :pseudo classes from predefined bootstrap icons*/
input[type='checkbox'].custom-checkbox + label:before {
    position: relative;
    top: 1px;
    right: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 1em;
}
input[type='checkbox'].custom-checkbox + label:before {/*unchecked icon*/
    content: "\e157";
}
input[type='checkbox'].custom-checkbox + label:hover:before {/*icon checked on hover*/
    content: "\e067";
}
input[type='checkbox']:checked.custom-checkbox + label:before {/*checked icon*/
    content: "\e067";
}
.logo-msg {
    display: block;
    color: #d9534f;
}
.small-bottom-margin {
    margin-bottom: 3px !important;
}
.top-margin {
    margin-top: 20px;
}
// ---------------------------------------------------

/* ******************** END FORM STEP 1 ***************** */



/* **********************************************
 * Form step 3/4/5 styling
 * ********************************************** */ 
.dense-input {
    margin-bottom: 3px;
}
.short-input {
    max-width: 250px;
}
/* ******************** END FORM STEP 3/4/5 ***************** */

#refreshProcessedContributionTable {
    cursor: pointer;
}