// Global bootstrap column overwrites ----------------
.centered {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.centered.left {
    padding-left: 20px;
}

.centered.right {
    padding-right: 20px;
}
// ---------------------------------------------------

// Number of tracked tools display --------------------
.track-tool {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
    //text-align: left;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.track-tool-nr {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.track-tool-nr .nr {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    padding: 10px 6px;
}
// ---------------------------------------------------

// Clear all button styling --------------------------
.btn-clear {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
    padding: 10px 15px; //padding top-bottom right-left
    width: 100%;
}

// ---------------------------------------------------

// Filter checkbox styling----------------------------
label.checkbox-label {
    display: block;
    border-top: 1px solid #ddd;
    cursor: pointer;
    padding-left: 20px;
    line-height: 18px;
    font-size: small;
}

input[type=checkbox] {
    display:none;
}

/* Using 2 :pseudo classes from predefined bootstrap icons*/
input[type='checkbox'].custom-checkbox + label:before {
    position: relative;
    top: 1px;
    right: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 1em;
}

input[type='checkbox'].custom-checkbox + label:before {/*unchecked icon*/
    content: "\e157";
}
input[type='checkbox'].custom-checkbox + label:hover:before {/*icon checked on hover*/
    content: "\e067";
}
input[type='checkbox']:checked.custom-checkbox + label:before {/*checked icon*/
    content: "\e067";
}

// filter-checkbox group panel styling
.filter-box {
    margin-bottom: 10px;
}

div.filter-box div.panel-body {
    padding-top: 0px;
}
// ---------------------------------------------------

// Styling of tiles ----------------------------------
.thumb-caption{
    font-size: 17px;
}

.caption {
    padding-top: 0px !important;
}

.feature-panel {
    text-align: center;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    //background-color: #eee;
}

.thumbnail img {
    margin-top: 10px;
    height: 80px;
}

.info-label {
    display: block;
    font-weight: 200;
    color: #999;
    border: 2px solid #dadada;
    border-radius: 5px;
    text-align: center;
    font-size: small;
    margin: 0px 10px 5px;
}

.info-label.active {
    color: lightgreen;
    border-color: lightgreen;
}

label.compare-label {
    display: inline-block;
    border: none;
    color: #337ab7;
    margin-top: 5px;
}

.feature-panel .dropIcon {
    color: #337ab7;
}

a[aria-expanded=false] .glyphicon-chevron-up {
   display: none;
}
a[aria-expanded=true] .glyphicon-chevron-down {
   display: none;
}
// ---------------------------------------------------

//Styling of the collapsed panel of each tile --------
.featureTitle {
    font-size: 1em;
    font-weight: bold;
}

// Background color of features
.via {
    background-color: plum !important;
}
.partially {
    background-color: lightgreen !important;
}
.soon {
    background-color: mediumpurple !important;
}

//Styling of the feature spans
.feature {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: help;
    display: block;
    margin: 3px 0px 3px 0px;
    min-width: 67px;
    padding: 3px 3px 3px 5px;
    font-size: x-small;
    background-color: steelblue;
}

.selected {
    border: 2px solid lightgreen;
    box-shadow: 0 0 10px lightgreen;
} 
// ---------------------------------------------------

//Styling of popularity figures (twitter/etc) --------
.caption a {
    text-decoration: none;
}

.github-label,
.stackoverflow-label,
.twitter-label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
}
// ---------------------------------------------------

//Styling of contribution modal content --------
.borderless tbody tr td {
    border: none;
}

tbody tr td.descr-label {
    vertical-align: middle;
}

.google-login-btn {
    padding: 0 !important;
    font-size: 16px;
    margin-bottom: 15px;
}
.google-login-icon {
    border-right: 1px solid;
    width: 34px;
    height: 34px;
    padding-top: 8px;
    vertical-align: middle;
    float: left;
}
.google-login-label {
    font-weight: bold;
    margin: 0px 10px 0px 5px;
    height: 34px;
    line-height: 34px;
    min-width: 200px;
    float: right
}
// ---------------------------------------------------